.button {
     border-radius: 6px;
     padding: .5rem 1.875rem;
     font-family: inherit;
     cursor: pointer;
     transition: ease-out background 0.25s;
     font-size: 1rem;
}
.button:hover {
     background: #141374;
}

.button-accent{
     background-color: #312EB5;
}
